body {
  background-color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
}

div#outer {
  padding: 0 20px 0 20px;
}

div#outer, div#toc, div.main {
  width: 640px; /* same as htmlwidth in mcmcplot.R */
}

h2 {
  border-top: thin solid #000000;
  margin-top: 30px;
}

ul#toc_items {
  -moz-column-count: 3; /* Firefox */
  -webkit-column-count: 3; /* Safari and Chrome */
  column-count: 3;
  -moz-column-gap: 40px; /* Firefox */
  -webkit-column-gap: 40px; /* Safari and Chrome */
  column-gap: 40px;
}

li.toc_item {
  margin: 0;
}

p.plot_err {
  border: dashed #C91818;
  padding: 8px;
}